.navbar{
    background-color: aqua!important;
}

body{
    background-color: #98f5e1;
}

.form-container{
    width: 600px;
    margin: auto;
}

.formulario-titulo{
    margin: auto;
}

.titulo{
    background-color: aliceblue;
    border: 4%;
    border-radius: 3%;
    border-style: dotted;
    border-color: black;
    font-style: italic;
    width: 50%;
}